.SidebarRow {
    display: flex;
    align-items: center;
    padding: 2px 20px;
    cursor: pointer;
    width: 23vw;
}

.SidebarRow:hover {
    background-color: #e2e6eb;
    border-radius: 10px;
    padding: 2px 20px;
}

.SidebarRow h4 {
    margin-left: 10px;
    font-weight: 500;
}

.Avatar {
    transform: scale(0.8);
}

.SidebarRow svg {
    font-size: xx-large;
    color: #2e81f4;
}
