.FrontPage {
    background-color: #eff2f5;
    width: 100vw;
    height: 100vh;
}

.frontpage__body {
    display: flex;
    padding-top: 10px;
    width: 100vw;
    justify-content: space-around;
}
